.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-container__inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact-container__input {
  font-family: "Open Sans";
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 14px;
  line-height: 19px;
  padding: 0 0 16px;
  margin: 40px 0px 0px;
}
.contact-container__input:focus {
  outline: none;
}
.contact-container__message {
  width: 48%;
  resize: none;
  font-family: "Open Sans";
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  padding: 40px 0 0;
  outline: none;
}
.contact-form__input-submit {
  cursor: pointer;
  font-family: "Open Sans";

  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: block;
  margin: 50px auto;
  background-color: #ec7979;
  color: white;
  padding: 16px 125px;
  border: none;
}
.contact-form__input-submit:hover {
  background-color: #ab4949;
}
.contact-form__input-submit:active {
  box-shadow: inset 0px 0px 10px #ab4949;
  background: #ec7979;
}

@media (max-width: 480px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-container__inputs {
    width: 90%;
  }
  .contact-container__message {
    width: 90%;
  }
  .contact-form__input-submit {
    padding: 16px 30%;
  }
}
