html{
  scroll-behavior: smooth;
  
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}



.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
 
}

.social-links__icon {
  height: 70px;
}
