.main-header {
  background-color: black;
}
.container-header {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 15px;
}
.header-logo {
  display: flex;
  justify-content: center;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-navigation__link {
  font-size: 14px;
  font-family: "Open Sans";
  text-decoration: none;
  color: white;
  min-width: 134px;
  text-align: center;
}

.header-navigation__link:hover{
background-color: #EC7979;
height: 75px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
.header-navigation__link:active{
  background-color: #AB4949;
}