.social-media {
  background-color: #f8efef;
}
.social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-container .social-links__icon {
  padding: 0 10px;
}
.social-text__title {
  font-family: "Open Sans";
  font-size: 24px;
  padding: 10px;
}
.social-text__paragraph {
  max-width: 470px;
  font-family: "Raleway";
  font-size: 18px;
  padding: 10px;
  color: #86878b;
}

@media (max-width: 1024px) {
  .social-container .social-links__icon {
    padding: 0;
    height: 60px;
  }
  .social-text__title {
    font-size: 18px;
    padding: 10px;
  }
  .social-text__paragraph {
    font-size: 14px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .social-container {
    flex-direction: column;
  }
  .social-container .social-links__icon {
    padding: 0;
    height: 30px;
  }
  .social-text__title {
    text-align: center;
    padding: 20px;
  }
  .social-text__paragraph {
    text-align: center;
  }
}
