.tabs__navigation {
  padding-top: 50px;
}

.tabs__nav {
  font-family: "Open Sans";
  padding: 10px 70px;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  background-color: white;
  cursor: pointer;
}
.tabs__nav--active {
  border: 1px solid #c6cbcd;
  border-bottom-style: none;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
}
.tabs__container {
  display: flex;
}

.tabs__text {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0 0 80px;
  max-width: 700px;
  border: 1px solid #c6cbcd;
  max-height: 500px;
  border-right-style: none;
}
.tabs__title {
  font-size: 30px;
  font-family: "Open Sans";
}
.tabs__paragrah {
  font-size: 18px;
  font-family: "Raleway";
  max-width: 570px;
}

.tabs__button {
  font-family: "Open Sans";
  font-size: 18px;
  color: white;
  background-color: #ec7979;
  padding: 19px 92px;
  border: none;
  cursor: pointer;
}

.tabs__button:hover {
  background-color: #ab4949;
}
.tabs__button:active {
  background: #ec7979;
  box-shadow: inset 0px 0px 10px #ab4949;
}
.tabs-picture__statue {
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .tabs__title {
    font-size: 24px;
  }
  .tabs__paragrah {
    font-size: 14px;
  }
  .tabs__text {
    max-height: 386px;
    max-width: 594px;
  }
  .tabs-picture__statue {
    max-width: 386px;
    max-height: 385px;
  }
}
@media (max-width: 480px) {
  .tabs-picture__statue {
    display: none;
  }
  .tabs__text {
    padding: 0;
    max-height: 431px;
    width: 468px;
    border: 1px solid #c6cbcd;
    align-items: center;
  }
  .tabs__title {
    width: 260px;
    text-align: center;
    padding: 5% 0;
  }
  .tabs__paragrah {
    text-align: center;
    width: 242px;
  }
  .tabs__nav {
    padding: 10px 22px;
    top: 2px;
  }
  .tabs__button {
    padding: 19px 92px;
    margin: 10% auto;
  }
}
